root = true

[*]
charset = utf-8 # 使用UTF-8编码
end_of_line = lf    # 换行符使用lf(unix风格)
indent_style = space    # 缩进使用空格
indent_size = 2 # 每级缩进使用2空格
insert_final_newline = true
trim_trailing_whitespace = false

[*.sol]
indent_size = 4
max_line_length = 120
