
ACCOUNT=        # 账户地址
PRIVATE_KEY=        # 账户私钥

LEDGER_ACCOUNT=     # Ledger硬件钱包


TENDERLY_FORK_ID=       # Tenderly Fork ID
TENDERLY_DEVNET_ID=     # Tenderly Devnet ID

ETH_SEPOLIA_TESTNET_URL=
ETH_GOERLI_TESTNET_URL=
OPTIMISM_SEPOLIA_URL=
BSC_TESTNET_URL=https://bsc-testnet.public.blastapi.io
BSC_MAINNET_URL= 
FORKING_URL=

XDEPLOY_SALT=
REPORT_GAS=true

ANKR_API_KEY=
BSC_API_KEY=
ETHERSCAN_API_KEY=
