{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "parser": "solidity-parse"
      }
    },
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "all"
      }
    }
  ]
}
